server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  application:
    name: aquaflow-mpesa-service

  r2dbc:
    url: r2dbc:postgresql://ballast.proxy.rlwy.net:22738/railway
    username: postgres
    password: GcdLamzIxDzNgOiMJvTkkpYkvGmLwGHq

  flyway:
    url: jdbc:postgresql://ballast.proxy.rlwy.net:22738/railway
    user: postgres
    password: GcdLamzIxDzNgOiMJvTkkpYkvGmLwGHq
    baseline-on-migrate: true
    enabled: true

  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false

daraja:
  base-url: ${DARAJA_BASE_URL:https://sandbox.safaricom.co.ke}
  consumer-key: ${DARAJA_CONSUMER_KEY:0G83RG10zlwJ7R6beGViVWPZvmZy75I0ckmSXiftGGwPvDZt}
  consumer-secret: ${DARAJA_CONSUMER_SECRET:ADIGXDAFOo4T5u4AGiWwBtGQkZyiviJYQwMlTCsceWAv9akkzZ5SrGQ34bZXo2T2}
  c2b:
    shortcode: ${DARAJA_C2B_SHORTCODE:4010159}
    confirmation-url: ${DARAJA_C2B_CONFIRMATION_URL:https://aquaflow-mpesa-service-production-9f01.up.railway.app/api/v1/mpesa/c2b/confirmation}
    validation-url: ${DARAJA_C2B_VALIDATION_URL:https://aquaflow-mpesa-service-production-9f01.up.railway.app/api/v1/mpesa/c2b/validation}
    response-type: ${DARAJA_C2B_RESPONSE_TYPE:Completed}
  b2b:
    initiator-name: ${DARAJA_B2B_INITIATOR:AO}
    security-credential: ${DARAJA_B2B_SECURITY_CREDENTIAL:KDT5QkB6dan0vhqV+vFTM7/aJNfVhq7httTRZSQeQC8hZa2SVwvwa6JFz4m1/2gG+hYitMyKlJKcQaa85EXVu7nPbkNMXmLE3X/RH/4VIv6hGtzZvlOA6H0+Zpplzs0e/fdiMs9BSG1oHrRlMFYD4LVKysjWu9K+AvTjBPCWQEi24D0DAsTW800iYbZM0rPniVvA9POSVqAWI56fr/9UefeRbr8/rJxnx7jMOvAePlcZX2bPkBWh81tmkXYs4Vc7IACGzAO3cC6AI9IwNZZokeDuWBiSFzOgbI/4s621F2294SFIDjablYJDHzaMn9JS7j9axH2Snj6r1GMlnoFmMQ==}
    sender-shortcode: ${DARAJA_B2B_SENDER_SHORTCODE:4010159}
    receiver-shortcode: ${DARAJA_B2B_RECEIVER_SHORTCODE:3291545}
    command-id: ${DARAJA_B2B_COMMAND_ID:BusinessPayBill}
    queue-timeout-url: ${DARAJA_B2B_TIMEOUT_URL:https://aquaflow-mpesa-service-production-9f01.up.railway.app/api/v1/mpesa/b2b/timeout}
    result-url: ${DARAJA_B2B_RESULT_URL:https://aquaflow-mpesa-service-production-9f01.up.railway.app/api/v1/mpesa/b2b/result}
    disbursement-percentage: ${DARAJA_B2B_DISBURSEMENT_PCT:50}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method

logging:
  level:
    com.aquaflow: ${LOG_LEVEL:INFO}
    org.springframework.web.reactive: WARN